body{
  
  background:
    linear-gradient(
    rgba(246,247,249,0.8),
    rgba(246,247,249,0.8)),
    url(../img/jack-hamilton-9SewS6lowEU-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
 
}
.navbar-light.navbar-nav .nav-link.active{
  color: rgba(220, 220, 220, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: rgba(253, 253, 253, 0.9)!important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(245, 229, 229, 0.5)!important;
}


body::before {
  content:"";
  opacity: 0.1;
}
.forCard{
  margin: 50px;
}

.bg-dark {
  background-color: #bec3cc!important;
}

.boxForQuiz{
  position: relative;
  margin: 7em 12em 5em 20em;
  background-color:  rgba(92, 88, 88, 0.7);
  width: 60%;
  height:500px;
  border-radius: 35px;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color: white;
}

.formForQuiz{
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  

}
.inputQuiz{
  width: 17em;
  border: 1px solid #ffffff;
  border-radius: 15px;
  outline: none;
  height: 40px;
  margin: 3em;
}
